
	#consolebox{
		height: 250px;

		overflow-y:scroll;
		overflow-x:hidden;

		margin:auto;
		margin-top:10px;	
		margin-bottom:10px;
		width: 705px;
		padding:15px;

		background-image: linear-gradient(to bottom, #e8e8e8 0px, #f5f5f5 100%);
		background-repeat: repeat-x;

		border-color: #dcdcdc;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	



	#map{
	
		margin:auto;
	
	}

	#page{
		margin:auto;
	}


	html{
	
		margin:auto;

		min-height: 100%;
		
		line-height: 1;
		font-family : "Gotham Narrow SSm",sans-serif,Arial;

	}
	
	body{

		min-height: 100%;
		padding-top: 50px;
	}

	

	h1{
		overflow: hidden;
		width: 530px;
		font-size : 2.2em;
		margin:auto;
		display:block;
		padding:5px;
	}

	table{
		border-collapse: collapse;
		border-spacing: 0;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	
	td{
		padding : 2px;
		width: 100px;
		height: 60px;
		max-width: 100px;
		max-height: 60px;
		overflow:hidden;
		word-wrap: break-word;
		

		border: 1px solid #d9e4e6;
		
		
		font-size: 15px;
	}
	